@font-face {
    font-family: 'atari';
    src: url(../fonts/Atari_16bit.ttf);
  }

body {
    background-image: url("../img/witch-background.gif");
    background-size: cover;
    font-family: 'atari';

    font-size: 1.1rem;
}

h1 {
    font-weight: normal;
    text-align: center;
}

#add-new-task {
    margin: 20px;
}

.container {
    margin: auto;
    padding: 0 15px 15px 15px;
    
    background-color: rgba(245, 195, 245, 0.85);
    width: max-content;
    max-width: 60vw;
    border: 1px black solid;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 8px;
    border-radius: 10px;
    border: 0;

    font-size: 1.1rem;
    font-family: 'atari';

    cursor: pointer;
}

#new-task-button:hover{
    background-color: rgba(174, 162, 240, 0.85);
}

.complete-task:hover {
    background-color: rgba(134, 245, 162, 0.85);
}

.delete-task:hover{
    background-color: rgba(245, 134, 134, 0.85);
}

input{
    padding: 7px;
    
    font-size: 1.1rem;
    font-family: 'atari';
}

li {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5;

    margin-bottom: 15px;
}
 
.task-text{
    padding-right: 7px;
}


@media (max-width: 800px) {

    .container {
        max-width: 95vw;
        padding: 0;
        padding-bottom: 15px;
        padding-right: 3%;
    }

    h1{
        padding-left: 3%;
    }

    #add-new-task{
        padding-left: 3%;
    }
}

@media (max-width: 480px) {

    .container {
        width: 95vw;
        padding-right: 0;
    }

    h1{
        padding: 0;
    }

    #add-new-task{
        padding-left: 0;
    }

    li {
        font-size: 1.1rem;
        padding-right: 6%;
    }

    button {
        font-size: 1rem;
    }

    input{
        font-size: 1rem;
    }
}